#add_category {
    max-width: 400px;
    margin: auto;
    border: 1px solid #6c757d; /* Ajout de la bordure */
    padding: 20px; /* Ajout du padding à l'intérieur de la bordure */
    border-radius: 10px; /* Ajout d'un arrondi aux coins */
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%; /* Ajustement de la largeur à 100% pour remplir le cadre */
    max-width: 400px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button.CREATE {
    background-color: #B97989;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%; /* Ajustement de la largeur à 100% pour remplir le cadre */
    border-radius: 4px;
  }
  
  button.CREATE:hover {
    background-color: #B97989;
  }
  