table {
    width: 100%;
   
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 10%;
  }

  .product-image {
    width: 80px; /* ajustez la largeur selon vos besoins */
    height: auto; /* pour maintenir le rapport hauteur/largeur de l'image */
}

.custom-form-field {
  
 margin-left: 20px;
 
}

.custom-css-class {
  background: none;
  border: none;
  border-radius: 10px;
  color: var(--Pink);
  margin-left: 10px;
}
  