<section class="footer-section">
  <div class="container">
    <div class="footer-logo text-center">
      <a href="index.html"><img src="./assets/img/logo1.png" alt=""></a>
    </div><br><br>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget about-widget">
          <h2>About Us</h2>
          <p>Discover our online store, where fashion and elegance come together to offer you an exceptional shopping experience.</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget contact-widget">
          <h2>Contact</h2>
          <div class="con-info">
            <span></span>
            <p>+216 50 000 000</p>
          </div>
          <div class="con-info">
            <span></span>
            <p>cosastore@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget contact-widget">
          <h2>Fast Delivery</h2>
          <div class="con-info">
            <p>Get your orders shipped quickly and securely with our complimentary shipping service for purchases exceeding 150 DT.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget about-widget">
          <h2>Job Opportunity</h2>
          <p>Our store is hiring delivery personnel who ensure timely delivery to specific destinations so that each customer receives their order on time.</p>
        </div>
      </div>  
    </div>
  </div>
  <div class="social-links-warp">
    <div class="container">
      <div class="social-links">
        <a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
        <a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
      </div>
    </div>
  </div>
</section>
