<mat-nav-list id="custom-nav-list">
  <h2 matSubheader class="mt-2  titre">  COZASTORE</h2>

 
  


  <a mat-list-item class="custom-list-item" (click)="onClick('dash')" ><mat-icon>dashboard</mat-icon> Dashboard</a>
  <mat-divider></mat-divider>
  <a mat-list-item class="custom-list-item" (click)="onClick('deliveryperson')">
    <mat-icon>add</mat-icon> Add Delivery Person
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item class="custom-list-item" (click)="onClick('product')">
    <mat-icon>add</mat-icon> Add Product
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item class="custom-list-item" (click)="onClick('category')">
    <mat-icon>add</mat-icon> Add Category
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item class="custom-list-item" (click)="onClick('souscategory')">
    <mat-icon>add</mat-icon> Add Second Category 
  </a>
  <mat-divider></mat-divider>
    <a mat-list-item class="custom-list-item" (click)="onClick('viewproducts')">
      <mat-icon>visibility</mat-icon> View products
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item class="custom-list-item" (click)="onClick('viewcategories')">
      <mat-icon>visibility</mat-icon> View Categories
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item class="custom-list-item" (click)="onClick('viewsubcategories')">
      <mat-icon>visibility</mat-icon> View Sub Categories
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item class="custom-list-item" (click)="onClick('viewcommandes')">
      <mat-icon>visibility</mat-icon> View commandes 
    </a>
    <mat-divider></mat-divider>

    