


 .mat-icon {
    vertical-align: center;
    margin: right 1rem ;
  }

  .mat-divider {
    border-top-width: 1px;
    border-color: #e5e5e5;
    width: 80%; /* Vous pouvez ajuster cette valeur en fonction de la largeur que vous souhaitez pour votre divider */
    margin-left: 10%; /* Ajuste la position vers la gauche */
    margin-right: 10%; /* Ajuste la position vers la droite */
}



  #custom-nav-list .custom-list-item{
    color: white !important;
    font-size: 0.8rem;
    height: 44px !important;
    margin-bottom: 4px;
    margin-top: 2px;
    border-radius: 5px;
    margin:0 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Exemple de police alternative */
  
    &:hover{
    background-color: #6c757d!important;
    margin-left: 0px;
    }

  }
  #custom-nav-list .list-item-active{
    color: #f2f5f7 !important;
    ::ng-deep{
      .custom-list-item{
        background-color: #A3CEF1 ;
        &:hover{
          background-color: #A3CEF1!important;
        }
      }
    }


}


.titre {
  color: black; /* Couleur du texte */
  font-size: 1.8rem; /* Taille de la police (plus grande) */
  font-weight: 400; /* Poids de la police (plus gras) */
  letter-spacing: 2px; /* Espacement entre les lettres */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Style de police */
  text-transform: uppercase; /* Mettre en majuscules */
  margin-left: 30px ;
}


  .custom-list-item mat-icon {
    font-size: 25px; /* Changer la taille de l'icône */
    vertical-align: middle; /* Aligner verticalement avec l'icône */
    margin-right: 8px; /* Ajouter un peu d'espace à droite de l'icône */

  }
  


