.modal-container {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .mat-dialog-title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .mat-dialog-content {
    margin-bottom: 20px;
  }

  .mat-dialog-actions {
    display: flex;
    justify-content: center;
  }

  .mat-dialog-actions button {
    min-width: 60px;
    margin-left: 10px !important;
    border: none;
    border-radius: 4px;
    color: white;
  }

  .mat-dialog-actions button:nth-child(1) {
    background-color: #B97989;
  }

  .mat-dialog-actions button:nth-child(2) {
    background-color: #B97989;
  }